@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/banner-header.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header__wrap {
  width: 1117px;
  margin-top: 63px;
  height: 57px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
  padding: 0 57px;
}
.header__logo img {
  display: block;
  height: 40px;
}
.header__nav-list {
  display: flex;
  list-style: none;
  gap: 37px;
  align-items: center;
}
.header__nav-link {
  font-family: "Roboto", sans-serif;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.header__banner {
  font-family: "Inter", sans-serif;
  width: 72%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__banner .banner__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  max-width: 568px;
}
.header__banner .banner__content .banner__title {
  background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}
.header__banner .banner__content .banner__subtitle {
  font-size: 26px;
  color: #04031C;
  font-weight: 400;
  margin-bottom: 20px;
}
.header__banner .banner__content .banner__buttons {
  padding-top: 48px;
  display: flex;
  gap: 20px;
}
.header__banner .banner__content .banner__buttons .banner__button {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__banner .banner__content .banner__buttons .banner__button--primary {
  background-color: #1173D4;
  color: white;
  width: 257px;
}
.header__banner .banner__content .banner__buttons .banner__button--primary:hover {
  background-color: rgb(13.2139737991, 89.3886462882, 164.7860262009);
}
.header__banner .banner__content .banner__buttons .banner__button--secondary {
  color: #1173D4;
  background-color: transparent;
  border: 1px solid #1173D4;
  width: 162px;
}
.header__banner .banner__content .banner__buttons .banner__button--secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.exams__content {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.exams__title {
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.exams__text {
  width: 100%;
  max-width: 950px;
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #04031C;
}
.exams__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 63px;
}
.exams__card {
  width: 100%;
  max-width: 282px;
  padding: 15px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2509803922);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.exams__card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3137254902);
}
.exams__icon {
  width: 48px;
  height: 48px;
}
.exams__card-title {
  padding: 30px 0 14px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.exams__card-text {
  font-size: 18px;
  text-align: center;
}

.female {
  background-color: #FDEFEF;
}
.female__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.female__title {
  font-size: 45px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 20px 0 54px 0;
  background: linear-gradient(90deg, rgba(249, 1, 111, 0.54) 0%, rgba(147, 8, 133, 0.619615) 41.83%, rgba(208, 56, 170, 0.754793) 70.19%, #851c87 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.female__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-family: "Roboto", sans-serif;
}
.female__card {
  width: 100%;
  max-width: 280px;
  min-height: 400px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2509803922);
  background-color: #FEFEFE;
}
.female__card-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 15px 0;
}
.female__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
}

.male {
  background-color: #F8F9FA;
}
.male__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.male__title {
  margin: 20px 0 54px 0;
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), linear-gradient(90deg, #3373D2 16.04%, #6F95C7 33.14%, #7BB5F5 54.51%, #0074EE 68.5%, #5EA7EF 87.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.male__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-family: "Roboto", sans-serif;
}
.male__card {
  width: 100%;
  max-width: 280px;
  min-height: 400px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2509803922);
  background-color: #FEFEFE;
}
.male__icon {
  width: 105px;
  height: 105px;
  object-fit: cover;
}
.male__card-title {
  margin: 20px 0 15px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.male__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
}

.alerts {
  background-color: #FFFFFF;
}
.alerts__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.alerts__title {
  font-size: 40px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.alerts__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-bottom: 50px;
}
.alerts__card {
  width: 100%;
  max-height: 141px;
  max-width: 416px;
  padding: 10px 24px 20px;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1254901961);
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.alerts__card--pink {
  background-color: #F9D5E5;
}
.alerts__card--pink .alerts__card-title,
.alerts__card--pink .alerts__card-text {
  color: #AD346A;
}
.alerts__card--blue {
  background-color: #CFE2F3;
}
.alerts__card--blue .alerts__card-title,
.alerts__card--blue .alerts__card-text {
  color: #2769A3;
}
.alerts__card--green {
  background-color: #D4EDDA;
}
.alerts__card--green .alerts__card-title,
.alerts__card--green .alerts__card-text {
  color: #244A2D;
}
.alerts__card--orange {
  background-color: #FFE9C2;
}
.alerts__card--orange .alerts__card-title,
.alerts__card--orange .alerts__card-text {
  color: #976C00;
}
.alerts__card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 17px;
}
.alerts__card-title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.alerts__card-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
