.alerts {
    background-color: #FFFFFF;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin-bottom: 10px;

        background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__card {
        width: 100%;
        min-height: 141px;
        max-width: 416px;
        padding: 10px 24px;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow: 0 4px 20px #00000020;
        text-align: center;
        font-family: 'Roboto', sans-serif;

        &--pink {
            background-color: #F9D5E5;

            .alerts__card-title,
            .alerts__card-text {
                color: #AD346A;
            }

        }

        &--blue {
            background-color: #CFE2F3;

            .alerts__card-title,
            .alerts__card-text {
                color: #2769A3;
            }

        }

        &--green {
            background-color: #D4EDDA;

            .alerts__card-title,
            .alerts__card-text {
                color: #244A2D;
            }

        }

        &--orange {
            background-color: #FFE9C2;

            .alerts__card-title,
            .alerts__card-text {
                color: #976C00;
            }

        }
    }

    &__card-header {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 6px;
    }

    &__card-title {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }

    &__card-text {
        font-size: 16px;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
    }
}

@media (max-width: 767px) {
    .alerts {
        &__title {
            font-size: 24px;
        }
    }
}