.exams {
    background-color: $bg-male ;

    &__content {
        font-family: $font-primary;

        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: $space-md;
        padding-bottom: $space-header-top;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: $space-md;
    }

    &__title {
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;

        background: linear-gradient(to right,
                map-get($alerts-title-gradient, start) 0%,
                map-get($alerts-title-gradient, end) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    &__text {
        width: 100%;
        max-width: 950px;
        margin-bottom: $space-xl;

        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        text-align: center;
        color: $black;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $space-header-top;
    }

    &__card {
        width: 100%;
        max-width: 282px;
        padding: $space-sm $space-md;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        border-radius: $radius-sm;
        box-shadow: 0px 4px 20px $card-shadow;

        transition: transform 0.25s ease, box-shadow 0.25s ease;

        &:hover {
            transform: translateY(-8px);
            box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.31);
        }
    }

    &__icon {
        width: 48px;
        height: 48px;
    }

    &__card-title {
        padding: $space-lg 0 $space-sm 0;

        font-size: $font-size-md;
        font-weight: $font-weight-semibold;
        text-align: center;
    }

    &__card-text {
        font-size: $font-size-sm;
        text-align: center;
    }
}

@media (max-width: $breakpoint-mobile) {
    .exams {
        &__title {
            font-size: $font-size-alert-mobile;
        }

        &__text {
            font-size: $font-size-md;
            padding: 0 $space-md;
        }

        &__cards {
            flex-direction: column;
        }
    }
}