.female {
    background-color: $bg-female;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: $space-section 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: $space-md;
    }

    &__title {
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        font-family: $font-primary;
        text-align: center;
        margin: $space-xs 0 $space-section-title 0;

        background: linear-gradient(
            90deg,
            map-get($female-title-gradient, start) 0%,
            map-get($female-title-gradient, mid1) 41.83%,
            map-get($female-title-gradient, mid2) 70.19%,
            map-get($female-title-gradient, end) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $space-section;
        font-family: $font-body;
    }

    &__card {
        width: 100%;
        max-width: 280px;
        min-height: 400px;
        padding: $space-md $space-lg;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: $radius-sm;
        box-shadow: 0 4px 20px $card-shadow;
        background-color: $white;
    }

    &__card-title {
        font-size: $font-size-md;
        font-weight: $font-weight-semibold;
        text-align: center;
        margin: $space-md 0 $space-sm 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: $space-xs;
        margin: 0;
        padding: 0;
        font-family: $font-body;
        font-size: $font-size-xxs;
        line-height: 20px;
        text-align: start;
    }
}

@media (max-width: $breakpoint-mobile) {
    .female {
        &__title {
            font-size: $font-size-title-mobile;
;
        }

        &__cards {
            flex-direction: column;
        }
    }
}
