.female {
    background-color: #FDEFEF;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    &__title {
        font-size: 45px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        text-align: center;
        margin: 20px 0 54px 0;

        background: linear-gradient(
            90deg,
            rgba(249, 1, 111, 0.54) 0%,
            rgba(147, 8, 133, 0.619615) 41.83%,
            rgba(208, 56, 170, 0.754793) 70.19%,
            #851c87 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        font-family: 'Roboto', sans-serif;
    }

    &__card {
        width: 100%;
        max-width: 280px;
        min-height: 400px;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 20px #00000040;
        background-color: #FEFEFE;
    }

    &__card-title {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 20px 0 15px 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: start;
    }
}
