.header {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url($img-header-banner);
    background-size: contain;
    background-repeat: no-repeat;

    &__wrap {
        width: 100%;
        max-width: 1200px;
        margin-top: $space-header-top;
        height: 57px;
        border-radius: $radius-lg;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to right, $header-bg-start 0%, $header-bg-end 100%);
        padding: 0 57px;
    }

    &__logo img {
        display: block;
        height: 40px;
    }

    &__nav {
        &-list {
            display: flex;
            list-style: none;
            gap: $space-xxl;
            align-items: center;
        }

        &-link {
            font-family: $font-body;
            color: $white;
            font-weight: $font-weight-regular;
            font-size: $font-size-md;
            text-decoration: none;
        }
    }

    &__banner {
        font-family: $font-primary;
        width: 72%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .banner__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            max-width: 568px;
            width: 100%;

            .banner__title {
                background: linear-gradient(
                    to right,
                    map-get($alerts-title-gradient, start) 0%,
                    map-get($alerts-title-gradient, end) 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
                font-weight: $font-weight-bold;
                font-size: $font-size-xxl;
                margin-bottom: $space-md;
            }

            .banner__subtitle {
                font-size: $font-size-lg;
                color: $black;
                font-weight: $font-weight-regular;
                margin-bottom: $space-md;
            }

            .banner__buttons {
                width: 100%;
                padding-top: $space-banner;
                display: flex;
                gap: $space-md;

                .banner__button {
                    padding: $space-sm $space-md;
                    border-radius: $radius-sm;
                    text-decoration: none;
                    font-weight: $font-weight-medium;
                    height: $height-btn;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &--primary {
                        background-color: $primary-btn;
                        color: $white;
                        width: 257px;

                        &:hover {
                            background-color: darken($primary-btn, 10%);
                        }
                    }

                    &--secondary {
                        color: $primary-btn;
                        background-color: transparent;
                        border: 1px solid $primary-btn;
                        width: 162px;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .header {
        background-image: none;
        padding: $space-md;

        &__wrap {
            width: 100%;
            max-width: none;
            padding: $space-md;
        }

        &__logo img {
            width: 90px;
            height: auto;
        }

        .banner__title,
        .banner__subtitle {
            font-size: $font-size-xxs;
        }

        &__nav-link {
            font-size: $font-size-xxs;

            &.masculina::after {
                content: "Prevenção Mas";
            }

            &.feminina::after {
                content: "Prevenção Fem";
            }

            &.masculina span,
            &.feminina span {
                display: none;
            }
        }
    }
}
