.male {
    background-color: #F8F9FA;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    &__title {
        margin: 20px 0 54px 0;
        font-family: 'Inter', sans-serif;
        font-size: 45px;
        font-weight: 700;
        text-align: center;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(90deg, #3373D2 16.04%, #6F95C7 33.14%, #7BB5F5 54.51%, #0074EE 68.5%, #5EA7EF 87.02%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        font-family: 'Roboto', sans-serif;
    }

    &__card {
        width: 100%;
        max-width: 280px;
        min-height: 400px;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 20px #00000040;
        background-color: #FEFEFE;
    }

    &__icon {
        width: 105px;
        height: 105px;   
        object-fit: cover;   
    }

    &__card-title {
        margin: 20px 0 15px 0;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: start;
    }
}

@media (max-width: 767px){
    .male{
        &__title{
            font-size: 32px;
        }

        &__cards{
            flex-direction: column;
        }
    }
}